<div class="container">

  <div class="left-button">
    <%= link_to "ユーザー一覧に戻る", "/users/", class: "edit-link" %>
  </div>
  <h4 class="rooms-title">Friends</h4>
  <div class="row">
  <% @entries.each do |e| %>
    <div class="user-name">
      <strond>
        <%= image_tag e.user.get_profile_image, size:'50x50', class:"user-image" %>
          <a class="rooms-user-link" href="/users/<%= e.user.id %>">
            <%= e.user.name %>さん
          </a>
      </strond>
    </div>
  <% end %>
  </div>
  <hr />
  <div class="chats">
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <div class="chat-box">
            <div ckass="chat-face">
              <%= image_tag m.user.get_profile_image, size:'50x50', class:"user-image" %>
            </div>
            <div>
              <strong><%= m.body %></strong> <br />
              <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mt-3">
      <%= form_for @message do |f| %>
        <%= f.text_field :body, placeholder: "メッセージを入力してください", size: 70, class: "form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: 'form-submit' %>
      <% end %>
    </div>
  </div>

</div>